form {
	position: relative;
}
input.ng-invalid {
	border-left: 4px solid #E74C3C;
}
input.ng-valid {
	border-left: 4px solid #1ABB9C;
}

.myli {
    margin: 1px;
    background-color: #eee;
}
#mapBtn {
	position: absolute;
	top: 0em;
	right: 37px;
}
#mapBtn > button{
	padding:0px;
	margin:0px;
	height:34px; 
	width:34px;
	background-color: #eee;
}
#mapBtn > button:hover{
	background-color: white;
	transform: rotate(180deg) scaleX(-1);
}
#saveBtn {
	position: absolute; 
	top: -4.4em;
	right: -0.4em;
}
