
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-top:0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 12000;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* .dropdown-menu li:hover {
	border-top: .3px #1ABB9C solid; 
	color: white;
	background-color: #1ABB9C;
}
.dropdown-menu li.active {
	border-top: .3px white solid; 
	color: white;
	background-color: #1ABB9C;
}


.dropdown-menu li {
	
	font-size: 17px;	
}
.dropdown-menu li div{
	font-size: 17px;	
	margin-left: 10px;
	margin-right: 10px;
}

.choice {
	margin-right: 10px; 
	font-size: 20px;
	
}




 */