<!-- <div class="container"> -->
  
    <div class="btn-group">
      
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-plus-sign"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a >Action</a></li>
          <li><a >Another action</a></li>
          <li><a >Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action 2</a></li>
          <li><a href="#">Another action 2</a></li>
          <li><a href="#">Something else here 2</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link 2</a></li>
        </ul>
      </div>
      
    </div>
    
  <!-- </div> -->