
<div class="">
    <!-- <div class="page-title">
          <div class="title_left">
            <h3>Chart Js <small>Some examples to get you started</small></h3>
          </div>
  
          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
    </div> -->
    <div class="clearfix"></div>
  
    <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="overflow:auto!important; position: relative;">
                    <div class="x_title">
                        <h2> Enter Contact Detail
                            <!-- <div style="display: inline;">{{curContactObj.name}}</div> -->
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <div class="btn-group">
                                <button class="delete btn btn-danger pull-right"  type="button" class="btn btn-dark pull-left"  (click)="backClicked()" ><i class="fa fa-backward"></i> Go Back</button>
                            </div>
                        </ul>
                    <div class="clearfix"></div>
                    </div>
                    <div class="x_content ">
                            <form class="form-horizontal form-label-left" [formGroup]="myForm" (ngSubmit)="submit()">
                                <div class="item form-group">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                      <button [disabled]="disableSaveBtn==true || myForm.invalid" type="submit" class="btn btn-success pull-right"  value="Submit"><i class="fa fa-save"></i> Save </button>
                
                                  </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">Name <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input #nam class="form-control col-md-7  col-xs-12" placeholder="Enter Name" formControlName="name">
                                    </div>                                
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">Location <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input class="form-control" placeholder="Search Location" formControlName="location" data-toggle="modal" data-target="#openMap" >
                                    </div>                                  
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">Notes <span class="required"></span> </label>
                                    
                                    <div  class="col-md-8 col-sm-8 col-xs-12">
                                        <!-- {{myForm.controls.items.length}} -->
                                      
                                      <div formArrayName="items">`
                                          <div class="form-group row" *ngFor="let itemrow of getControls(myForm, 'items'); let i=index"  [formGroupName]="i">
                                              
                                              <div class="col-sm-3 col-xs-3" style="padding-left:0" >
                                                  <label ></label>
                                                  <textarea placeholder="label" type="text" class="form-control" formControlName="date" #nam1 ></textarea>
      
                                              </div>
                                              <div class="col-sm-8 col-xs-8" style="padding-left:0" >
                                                  <label [attr.for]="'note'+index"></label>
                                                  <textarea placeholder="Note"  type="text" class="form-control" formControlName="note" #nam2 ></textarea>
                                                  
                                              </div>
                                              <div class="col-sm-1 col-xs-1" style="padding:0px; height: 59px;padding-top:1em">
                                                  <button type="button" class="btn btn-sm btn-danger"  (click)="deleteRow(i)">X</button>
                                              </div>
                                          </div>   
                                          <button  type="button" class="btn btn-primary" (click)="addNewRow()">Add Note</button>  
                                      </div> 
                                    </div>   
                                </div>                              
                        </form>
                    </div>
                </div>
            </div>
    </div>
  </div>
  
  
   <!-- <div>valid {{myForm.valid}}</div>
  <div>pristine  {{myForm.pristine}}</div>
  <div>dirty {{myForm.dirty}}</div>
  <pre>{{myForm.value | json}}</pre> 
   -->
  
  
  
  
  
  <div id="openMap" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
                <h4 class="modal-title" id="myModalLabel2">Change Location
                    <button  type="button" class="btn btn-success pull-right" (click)="searchTyp=!searchTyp">
                        <div *ngIf="searchTyp">Search By Coordinates</div>
                        <div *ngIf="!searchTyp">Search By Address</div>
                    </button>
                </h4>
            </div>
            <div class="modal-body">
                <div id="testmodal2">
                    <form *ngIf="!searchTyp" class="aman" style="margin: 0px!important;" #latLngForm="ngForm" (ngSubmit)="latLngSubmit(latLngForm.value)">
                        <div class="form-group"style="margin: 6px!important;" >
                            <div class="col-md-5 col-sm-4 col-xs-12 form-group">
                                <input type="number" placeholder="latitude" class="form-control" name="lat" [(ngModel)]="tmpContactMarker.position.lat">
                            </div>
                            <div class="col-md-5 col-sm-4 col-xs-12 form-group">
                                <input type="number" placeholder="longitude" class="form-control" name="lng" [(ngModel)]="tmpContactMarker.position.lng">
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12 form-group">
                                <button  type="submit" class="btn btn-primary btn-block antosubmit2">Search</button>
                            </div>
                        </div>
                    </form>
                    
                    <div *ngIf="searchTyp">
                        <ng4geo-autocomplete  [userSettings]="userSettings" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
                    </div>
                    
                    <div #gmap style="width:100%;height:45%;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default antoclose2" data-dismiss="modal" (click)="mapClosed()">Close</button>
                <button type="button" class="btn btn-primary antosubmit2" (click)="locationSelected()" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
  </div>

  <div id="myModal" class="modal fade" style="top:20%;z-index:10000;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="stay('stay')">×</button>
                <h4 class="modal-title" id="myModalLabel2">Confirm Navigation</h4>
            </div>
            <div class="modal-body">
                <div id="testmodal2" style="padding: 20px;">
                    <p>You have unsaved changes. Are you sure you want to leave this page?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default antoclose2" data-dismiss="modal" (click)="stay('stay')"> No</button>
                <button type="button" class="btn btn-primary antosubmit2" data-dismiss="modal" (click)="stay('back')"> Yes</button>
            </div>
        </div>
    </div>
  </div>