<div class="">
    <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- search bar -->

                    <!-- <div  class="input-group input-group-sm filter" style="position: relative">
                        <input id="searchInp" type="text" placeholder="Search Contacts.." name="search" [(ngModel)]="searchContactName" (ngModelChange)="SearchContactFn()">
                        <ul *ngIf="searchContactName!=null" class="mydropdown2">
                            <li *ngFor="let cat of searchedContactList1; let i=index">
                                <div (click)="plotSearchedMarker(cat)">{{cat.name}}</div>
                            </li>
                        </ul>
                    </div> -->
                    <div class="form-group" style="width:100%">
                        <div class="input-group"  style="position: relative">
                            <input type="text" placeholder="Search for Contacts..." 
                                    [(ngModel)]="searchContactName" (ngModelChange)="SearchContactFn()" 
                                    class="form-control dropdown-toggle" data-toggle="dropdown" value=searchContactName >
                            <ul class="dropdown-menu mydropdown2">
                                <li *ngFor="let cat of searchedContactList1; let i=index">
                                    <div (click)="plotSearchedMarker(cat)">{{cat.name}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--  -->

                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="width:50px">Map </h2>
                        <ul class="nav navbar-right panel_toolbox" style="position: relative">
                                <div class="btn-group">
      
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" #catBtn >
                                            Category <span class="caret"></span>
                                          </button>
                                          <!-- <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                          </ul> -->
                                          <ul class="dropdown-menu mydropdown">
                                                <li>
                                                    <label class="checkboxContainer" (click)="clearaOptions()"> 
                                                        <input type="checkbox" [checked]="true" [disabled]="true"> 
                                                        <span class="label-text">
                                                            Clear All
                                                        </span>
                                                    </label>
                                                </li>
                                                <li *ngFor="let cat of categoryList; let i=index" [ngClass]="{'active':optionSelected.indexOf(cat._id)} ">
                                                    <label class="checkboxContainer"> 
                                                        <input type="checkbox" [ngStyle]="{'color':cat.color}" [checked]="optionSelected.indexOf(cat._id)>=0"  (click)="chooseCat(cat._id);"> 
                                                        <span class="label-text">
                                                            <i class="fa fa-barcode" [ngStyle]="{'color':cat.color}"></i>    {{cat.name}}   
                                                        </span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            Radius <span class="caret"></span>
                                          </button>
                                          
                                          <div class="dropdown-menu" style="right: 0; left: auto;">
                                                <div class="rselector ">
                                                    <div class="row">
                                                        <div class="col pull-left" style="padding-left: 10px;">1km</div>
                                                        <div class="col pull-right"  style="padding-right: 10px;">50km</div>
                                                    </div>
                
                                                    <!-- <input  name="points" id="slider1" data-show-value="true" type="range" min="0" max="50" step="2" value="1" #ref (change)="changeRadius(ref.value)"/> -->
                                                    
                                                    <input id="slider1"  type="range" min="0" max="50" step="2" data-show-value="true" value="1" #ref [(ngModel)]="myCircleRadius" (change)="changeRadius($event.target.value)"/>                                                    
                                                    <b style="color: #1ABB9C;">{{myCircleRadius}} km</b>
                                                    <!-- <label for="points">Points:</label> -->
                                                </div>
                                            </div>
                                        </div>
                                        
                                      </div>
                           
                        </ul>
                    <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="map_canvas_container" id="myMap">
                            <div #gmap id="map_canvas"></div>
                        </div>
                             
                    </div>
                </div>
            </div>
    </div>
</div>




