/*.dropdown-menu li:hover {
	border-top: .3px #1ABB9C solid; 
	color: white;
	background-color: #1ABB9C;
}
.dropdown-menu li.active {
	border-top: .3px white solid; 
	color: white;
	background-color: #1ABB9C;
}


.dropdown-menu li {
	
	font-size: 17px;	
}
.dropdown-menu li div{
	font-size: 17px;	
	margin-left: 10px;
	margin-right: 10px;
}
.mydropdown {
	margin-top: 10px;
}*/





/*   hhhhhhhhhhhhhhhhhhhhhh*/
/*   hhhhhhhhhhhhhhhhhhhhhh*/
/*   hhhhhhhhhhhhhhhhhhhhhh*/

#myChoice  {
	font-size: 17px;
}
.mydropdown {
	width: 22em;
	margin-top: 5px;
	margin-right: 10px;
}
.dropdown-menu li:hover {
	/*border-top: .3px #1ABB9C solid; */
	color: white;
	background-color: #eee;
}
.dropdown-menu li.active {
	/*border-top: .3px white solid; 
	background-color: #eee;*/
}
.dropdown-menu li {
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 25px;	
}



li > label {
	font-size: 20px;
	cursor: pointer;
}
li label input[type="checkbox"] {
	display: none;
}
.checkboxContainer {
	width: 22em;
}
label > input[type="checkbox"] + .label-text:before{
	content: "\f096" ;
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: 25px;
	text-transform: none;
	line-height: 1;
	width: 1em;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	margin-right: 5px;
}
label > input[type="checkbox"]:checked + .label-text:before {
	content: "\f14a";
	color: #1ABB9C;
	font-size: 25px;
	animation: tick 150ms ease-in;
	/*background-color: #2a3f54;*/
}
label > input[type="checkbox"]:disabled + .label-text:before {
	content: "\f0c8";
	color: #ccc;
	font-size: 25px;
	/*animation: tick 150ms ease-in;*/
	/*background-color: #2a3f54;*/
}
label > input[type="checkbox"]:not(:checked) + .label-text:before {
	content: "\f096";
	font-size: 25px;
	animation: notick 150ms ease-out;
	/*background-color: #2a3f54;*/
}

@keyframes tick {
	0% {transform: scale(0);}
	80% {transform: scale(1.5);}
	100% {transform: scale(1);}
}
@keyframes notick {
	100% {transform: scale(1);}
	80% {transform: scale(1.5);}
	0% {transform: scale(0);}
}