.dropdown-menu li:hover {
	border-top: .3px #1ABB9C solid; 
	color: white;
	background-color: #1ABB9C;
}
.dropdown-menu li.active {
	border-top: .3px white solid; 
	color: white;
	background-color: #1ABB9C;
}


.dropdown-menu li {
	font-size: 17px;	
}
.dropdown-menu li div{
	font-size: 17px;	
	margin-left: 10px;
	margin-right: 10px;
}
.mydropdown {
	margin-top: 10px;
}

.choice {
	margin-right: 10px; 
	font-size: 20px;
	
}




