 <div class="mylogin" >
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>
		 
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
		  
            <form (submit)="onLoginSubmit()">
              <h1>Login Form</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" required="" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required="" />
              </div>
              <div>
                <!-- <a class="btn btn-default submit" href="index.html">Log in</a> -->
                 <input class="btn btn-sm btn-primary pull-right" type="submit" value="Login">
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">New to site?
                  <a routerLink="/register" class="to_register"> <b>Create Account</b> </a>
                </p>

                <div class="clearfix"></div>
                <br />

              </div>
            </form>
          </section>
        </div>

      </div>
    </div>
  </div>
